// @font-face {
//   font-family: "Roboto", sans-serif;
//   src: url('../public/fonts/roboto/Roboto-Black.ttf'),
//     url('../public/fonts/roboto/Roboto-BlackItalic.ttf'),
//     url('../public/fonts/roboto/Roboto-Bold.ttf'),
//     url('../public/fonts/roboto/Roboto-BoldItalic.ttf'),
//     url('../public/fonts/roboto/Roboto-Italic.ttf'),
//     url('../public/fonts/roboto/Roboto-Light.ttf'),
//     url('../public/fonts/roboto/Roboto-LightItalic.ttf'),
//     url('../public/fonts/roboto/Roboto-Medium.ttf'),
//     url('../public/fonts/roboto/Roboto-Regular.ttf'),
//     url('../public/fonts/roboto/Roboto-Thin.ttf'),
//     url('../public/fonts/roboto/Roboto-ThinItalic.ttf');
// }

// @font-face {
//   font-family: "Basic Sans Serif 7";
//   src: url('../public/fonts/basic_sans_serif/Basic\ Sans\ Serif\ 7.ttf')
// }

* {
  margin: 0;
  padding: 0;
  outline: none;
  border: none;
  box-sizing: border-box;
  transition: all 0.3s linear;
  max-width: 1920px;
  max-height: 3894px;
}

.sections {
  margin: 0;
}